---
import Layout from "@layouts/Layout.astro"
import Nav from "@components/Nav.astro"
import Links from "@components/Links.astro"
---

<Layout>
	<div class="w-xl h-dvh border-x-2 border-black dark:border-white p-4">
		<header class="w-full h-fit">
			<Nav />
		</header>
		<main>
			<Links />
		</main>
	</div>
</Layout>
