---
import Layout from "@layouts/Layout.astro"
import Nav from "@components/Nav.astro"
import Links from "@components/Links.astro"
---

<Layout>
	<div class="w-full md:w-xl h-dvh md:border-x-2 border-black dark:border-white p-4 flex flex-col">
		<header class="w-full h-fit">
			<Nav />
		</header>
		<main class="w-full flex-1 ">
			<Links />
		</main>
	</div>
</Layout>
