---
import SocialLinks from "@assets/socialLinks.ts"
---

<section aria-label="Social networks links of malsebasmal" class="w-full h-full flex items-center justify-center">
  <ul class="w-fit h-full flex flex-col items-start justify-center gap-5">
    {SocialLinks.map(({icon: Icon, link, name}) => (
      <li class="group">
        <a href={link} target="_blank" rel="noopener noreferrer" class="flex items-center justify-center gap-2 group-hover:line-through">
          <Icon class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>{name}</h2>
        </a>
      </li>
    ))}
  </ul>
</section>