---
import Instagram from "@images/icons/Instagram.astro"
import Threads from "@images/icons/Threads.astro"
import Pinterest from "@images/icons/Pinterest.astro"
import Spotify from "@images/icons/Spotify.astro"
import SubStack from "@images/icons/SubStack.astro"
import Tumblr from "@images/icons/Tumblr.astro"
import XSocial from "@images/icons/XSocial.astro"
import Reddit from "@images/icons/Reddit.astro"
import Mastodon from "@images/icons/Mastodon.astro"
---

<section aria-label="Social networks links of malsebasmal" class="w-full h-full flex items-center justify-center">
  <ul class="w-fit h-full flex flex-col items-start justify-center gap-5">
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Instagram class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malsebasmal</h2>
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Instagram class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>sebasmalonce</h2> 
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Instagram class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malojosmal</h2>
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Instagram class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malferiasmal</h2> 
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Threads class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malsebasmal</h2>
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Pinterest class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malsebasmal</h2>
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Spotify class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malsebasmal</h2>
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <SubStack class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malsebasmal</h2>
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Tumblr class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> pinkisbadismal
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <XSocial class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malsebasmal</h2>
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Reddit class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malsebasmal</h2>
      </a>
    </li>
    <li class="group">
      <a href="" class="flex items-center justify-center gap-2 group-hover:line-through">
        <Mastodon class="size-10 group-hover:drop-shadow-[0_0px_5px_black] dark:group-hover:drop-shadow-[0_0px_5px_white]" /> <h2>malsebasmal</h2>
      </a>
    </li>
  </ul>
</section>