---
import { Image } from "astro:assets"
import malsebasmal from "/public/malsebasmal.webp"
import Share from "@images/icons/Share.astro"
import Moon from "@images/icons/Moon.astro"
import Sun from "@images/icons/Sun.astro"
import PopUp from "@components/PopUp.astro"
---

<nav class="w-full h-full">
  <ul class="w-full h-full flex items-center justify-between">
    <li id="popUpOpen" class="group">
      <button class="w-10 h-10 border-2 dark:border-0 flex items-center justify-center cursor-pointer">
        <div class="group-hover:hidden flex items-center justify-center">
          <Image src={malsebasmal} alt="malsebasmal icon" class="w-10" />
        </div>
        <div class="hidden group-hover:flex items-center justify-center">
          <Share />
        </div>
      </button>
    </li>
    <li class="flex items-center justify-center">
      <button id="">
        <Moon />
        <Sun />
      </button>
    </li>
  </ul>
</nav>
<PopUp id="popUp" />

<script>  
  document.querySelector("#popUpOpen")?.addEventListener("click", () => {
    document.querySelector("#popUp")?.classList.toggle("hidden")
  })
</script>