---
import { Image } from "astro:assets"
import malsebasmal from "/public/malsebasmal.webp"
import Share from "@images/icons/Share.astro"
import Moon from "@images/icons/Moon.astro"
import Sun from "@images/icons/Sun.astro"
import PopUp from "@components/PopUp.astro"
---

<nav class="w-full h-full">
  <ul class="w-full h-full flex items-center justify-between">
    <li id="popupOpen" class="group cursor-pointer">
      <div class="w-10 h-10 flex items-center justify-center">
        <div class="group-hover:hidden flex items-center justify-center">
          <Image src={malsebasmal} alt="malsebasmal icon" class="w-10" />
        </div>
        <div class="hidden group-hover:flex items-center justify-center">
          <Share />
        </div>
      </div>
    </li>
    <div class="flex items-center justify-center">
      <li class="flex items-center justify-center">
        <button>
          <Moon />
          <Sun />
        </button>
      </li>
      <li>
        <p>EN</p>
        <p>ES</p>
      </li>
    </div>
  </ul>
</nav>
<PopUp id="popup" />

<script>
  let isOpen = false
  const popupOpen = document.querySelector("#popupOpen")
  const TogglePopUp = () => {
    isOpen = !isOpen
    document.querySelector("#popup")?.classList.toggle("hidden")
  }
  popupOpen?.addEventListener("click", TogglePopUp)
</script>